* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;

}
/* header style */
.banner{
    background-image: url(../image/banner2.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.head{
    display: flex;
    justify-content: space-around;
   height: 600px;
}
.logo{
    margin-top: 30px;
    display: none;
}
.header{
    text-align: right;
    width: 200px;
    margin-top: 200px;
    margin-left: 200px;
   
}
.header-title{
    margin-bottom: 20px;
  width: 300px;
}

.header-des{
    margin-bottom: 20px;
    width: 300px;
}
.butoon{
    background-color: #F15B22;
    color: #F8F8F8;
    border: none;
    border-radius: 3px;
    padding: 10px 15px; 
    margin-left: 200px;
    font-weight: 400px;
   font-size: 20px;
}


/* about me */
.person-img {
    height: 550px;

}

.about-me {
    display: flex;
    align-items: center;
    margin: 50px 100px;
    margin-bottom: 100px;
    justify-content: space-around;
}

.about-title {
    font: 30px;
    color: #151414;
    width: 250px;
    margin: 20px 20px;
}

.about-disc {
    color: #444343;
    width: 350px;
    font-size: 16px;
    margin: 20px 20px;
}

.list {
    list-style: none;
    margin: 20px 20px;
}

span {
    color: #16D887;
    font: bold;
}

/* my plan section */

.my-plan-container{
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.my-plan-title{
   text-align: center;
   margin-bottom: 40px;
   font-weight: 700px;
   font-size: 40px;
}
.plan-img{
  padding-left: 30px;
  justify-content: space-around;
}
.plan-img-1{
    padding-left: 80px;
}
.plan-title{
    font-weight: 700px;
    font-size: 30px;
    
}
.plan-description{
    font-weight: 300px;
    font-size: 15px;
    text-align: center;
}
.my-plan h2{
    text-align: center;
    margin:20px 0;
}

/* main banner */
.main-banner {
    padding: 40px 0;
    margin: 100px 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url(../image/watch.png);


}

.banner-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    width: 459px;
    height: 94px;
    margin: 10px 30px;

}

.btn {
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 10px 30px;
    color: #F15B22;
    background-color: #F8F8F8;
}

/* footer styles */
.footer {
    display: flex;
    gap: 100px;
    text-align: left;
    background-color: #151414;
}
.footer-bg{
    Weight: 400;
Size: 16px;
Line-height: 26px;
}
.future{
    margin-bottom: 15px;
}
.future-description{
    margin-bottom: 10px;
}
.future-info{
    margin-bottom: 10px;
}
.future-info{
    font-size: 10px;
    font-weight: 300px;

}

.footer-bg {
    margin: 0 100px;
    color: #F8F8F8;
    padding: 70px 0;
}

.button {
    color: #F15B22;
    background-color: #F8F8F8;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 15px 0;
}

.sub {
    font-weight: 60;
    Width: 123px;
    Height: 29px;
    Size: 25px;
    font-weight: 600px;
}

.email {
    padding: 10px 10px;
    color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #F8F8F8;
    background-color: #151414;
    font-weight: 400;
    font-size: 18px;
}
.footer h4{
    margin-bottom: 15px;
}
.footer-bg a{
    text-decoration: none;
}